.wrapper-attendance-table {
    padding: 0;
    overflow: auto;
    padding-bottom: 100px;
    position: relative;
    z-index: 1001;
}

.component-attendance-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    background-color: #fff;
    border-radius: 8px;
    table-layout: auto;
}

.scroll {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.attendance-table-th {
    min-height: 38px;
    padding: 4px 8px;
    text-align: left;
    color: #000;
    border-left: 1px solid #d2d2d7;
}

.attendance-table-td {
    min-height: 28px;
    padding: 8px 8px;
    text-align: left;
    color: #000;
    white-space: nowrap;
    border-left: 1px solid #d2d2d7;
}

.attendance-table-trb:hover {
    background-color: rgba(0, 113, 227, 0.1);
    /* border: 5px solid rgba(79, 141, 202, 0.1); */
    border-left: none;
    border-top: none;
    border-right: none;
}

/* .attendance-table-th:first-child,
.attendance-table-td:first-child {
    width: 20px;
    position: sticky;
    left: 0;
} */

/* .attendance-table-th:nth-child(2),
.attendance-table-td:nth-child(2) {
    position: sticky;
    left: 33px;
} */

.attendance-table-th:nth-child(-n + 33):not(:nth-child(2)),
.attendance-table-td:nth-child(-n + 33):not(:nth-child(2)) {
    text-align: center;
}
