.recovery-section {
    display: block;
    width: 400px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
}

.recovery-head-text {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
    font-family: Outfit, sans-serif;
    font-weight: 600;
    letter-spacing: 0.32px;
    color: #000;
}

.recovery-info-text {
    margin: 10px 0 0 0;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    color: #333;
}

.recovery-form {
    margin: 20px 0;
}

.recovery-text-label {
    margin: 40px 0 0 0;
}

.recovery-input {
    width: 100%;
    height: 64px;
    display: block;
    margin: 8px 0 20px 0;
    padding: 0 20px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.recovery-input::placeholder {
    color: #999999;
    font-size: 16px;
}

.recovery-submit {
    height: 48px;
    margin-top: 40px;
}

.recovery-submit-button {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    font-size: 16px;
    background: #1279be;
    color: #fff;
}

.recovery-back-text {
    display: block;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    color: #1279be;
}
