button {
    cursor: pointer;
}

.button-fill {
    width: 150px;
    height: 36px;
    color: #ffffff;
    text-align: center;
    border-width: 1px;
    border-radius: 24px;
    border-style: solid;
    border-color: #0071e3;
    font: 500 14px 'Outfit', sans-serif;
    background: #0071e3;
}

.button-empty {
    width: 150px;
    height: 36px;
    text-align: center;
    border-width: 1px;
    border-radius: 24px;
    border-style: solid;
    border-color: #0071e3;
    color: #0071e3;
    font: 500 14px 'Outfit', sans-serif;
}

.button-big {
    margin: 0;
    box-sizing: border-box;
    background: #1279be;
    border-radius: 24px;
    border: none;
    align-items: center;
    width: 415px;
    height: 48px;
    position: relative;
    color: #fff;
    font: 600 16px/16px 'Outfit', sans-serif;
}
