.modal-group {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-group-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.title {
    color: #0a0a0c;
    text-align: left;
    font: 600 32px 'Outfit', sans-serif;
    position: relative;
}

.modal-name {
    box-sizing: border-box;
    color: #0a0a0c;
    text-align: left;
    font: 500 16px/22px "Outfit", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-name {
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 14px 20px 14px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 415px;
    height: 48px;
    position: relative;
    color: rgba(65, 65, 67, 0.5);
    text-align: left;
    font: 400 16px "Outfit", sans-serif;
    flex: 1;
    color: #0a0a0c;
}
