body {
    background-color: #f8f8f8;
}

.sgu-svg {
    position: relative;
}

.auth-block {
    display: block;
    width: 400px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    background: #f5f5f7;
}

.auth-block-head-text {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
    font-family: Outfit, sans-serif;
    font-weight: 600;
    letter-spacing: 0.32px;
    color: #0a0a0c;
}

.auth-block-info-text {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    color: #414143;
}

.auth-input {
    position: relative;
}

.auth-input input {
    display: block;
    width: 100%;
    height: 64px;
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    outline: none;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-appearance: none;
    appearance: none;
}

.auth-input input:focus {
    border: 2px solid #1279be;
}

.auth-input input::placeholder {
    color: #414143;
}

.auth-input label {
    box-sizing: border-box;
    padding: 5px;
    top: calc(50% - 16px);
    left: 20px;
    position: absolute;
    pointer-events: none;
    transition: all 0.1s linear;
    background-color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
}

.input-text {
    padding: 0 20px;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    color: #414143;
}

.auth-input input:focus + label,
.auth-input input:not(:placeholder-shown) + label {
    font-size: 12px;
    top: 0;
    color: #1279be;
}

.auth-pass input {
    display: block;
    width: 100%;
    height: 64px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    outline: none;
}

::placeholder {
    font-family: Outfit, sans-serif;
    font-size: 16px;
    color: rgba(65, 65, 67, 0.5);
}

.auth-block-submit {
    height: 48px;
    margin-top: 40px;
}

.auth-block-submit-button {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    font-size: 16px;
    background: #1279be;
    color: #fff;
}

.auth-block-forgot-text {
    display: block;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    color: #1279be;
}
