table {
  border-collapse: collapse;
  font-size: 12px;  
  
}

th {
  width: 5%;
  padding: 10px 20px;
  background: #1279be;
  color: #fff;

  &:first-child {
    width: 10%;
    border-radius: 8px 0 0 0;
  }

  &:last-child {
    border-radius: 0 8px 0 0;
  }
}

td {
  padding: 10px 20px;
  text-align: left;
  background: #fff;
  border-top: 1px solid #1279be;
  border-right: 1px solid #1279be2e;
  
  &:first-child {
    border-bottom: none;
  }

  &:last-child {
    border-right: none;
    border-radius: 0 0  8px 0;
  }
}

.teacher-table {
  padding: 0 200px;

}