.wrapper-table {
    width: 75%;
    margin: 0 auto;
    position: relative;
    z-index: 1001;
}

.table-controls {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.component-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    background-color: #fff;
    border-radius: 24px;
    table-layout: auto;
    box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.1);
}

.table-checkbox-cell {
    width: 16px;
    height: 16px;
    padding: 0 20px;
}
