.wrapper-table {
    width: 75%;
    margin: 0 auto;
}

.table-controls {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.component-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    background-color: #fff;
    border-radius: 8px;
    table-layout: auto;
}

.table-th {
    min-height: 28px;
    padding: 8px 20px;
    text-align: left;
    color: #000;
}

.table-td {
    min-height: 28px;
    padding: 8px 20px;
    text-align: left;
    color: #000;
}

.table-trb:hover {
    background-color: rgba(0, 113, 227, 0.1);
    /* border: 5px solid rgba(79, 141, 202, 0.1); */
    border-left: none;
    border-top: none;
    border-right: none;
}

.table-checkbox-cell {
    width: 16px;
    height: 16px;
    padding: 0 20px;
}
