.button-table {
    inset: 0;
    height: 40px;
    padding: 20px 250px;
    margin: 0;
    display: flex;
    justify-content: right;
}

.button-table-border {
    background: #fff;
    border-radius: 8px;
    border-style: solid;
    border-color: #1279be;
    border-width: 1px;
    width: 160px;
    height: 38px;
}

.button-table-text {
    width: 80px;
    height: 22px;
    display: inline-block;
    padding: 8px 0px;
    color: #1279be;
    text-align: center;
    font: 400 16px 'Outfit', sans-serif;
}

.btn-arr {
    width: 40px;
    height: 100%;
    padding: 0;
    overflow: visible;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    float: right;
    background: none;
}

.btn-arl {
    width: 40px;
    height: 100%;
    padding: 0;
    overflow: visible;
    border: none;
    background-color: #fff;
    cursor: pointer;
    float: left;
    background: none;
}
