.forgot-block {
    display: block;
    width: 400px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    background: #F8F8F8;
}

.forgot-block-head-text {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
    font-family: Outfit, sans-serif;
    font-weight: 600;
    letter-spacing: 0.32px;
    color: #0A0A0C;
}

.forgot-block-info-text {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    color: #414143;
}

.forgot-pass input {
    display: block;
    width: 100%;
    height: 64px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    outline: none;
}

.forgot-input-text {
    padding: 0 20px;
    font-family: Outfit, sans-serif;
    font-size: 16px;
    color: #000000;
}

::placeholder {
    font-family: Outfit, sans-serif;
    font-size: 16px;
    color: rgba(65, 65, 67, 0.50);
}

.forgot-block-submit {
    height: 48px;
    margin-top: 40px;
}

.forgot-block-auth-text {
    display: inline;
    padding: 16px 0 0 24px;
    float: left;
    text-decoration: none;
    color: #1279BE;
}

.forgot-block-submit-button {
    width: 200px;
    height: 48px;
    border: none;
    border-radius: 8px;
    float: right;
    cursor: pointer;
    font-size: 16px;
    background: #1279BE;
    color: #F8F8F8;
}
