.burger-menu {
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 1000;
}

.burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.burger-icon {
    width: 45px;
    height: 30px;
    background-color: #333;
    border-radius: 2px;
    transition: transform 0.2s ease;
}

.burger-icon::before,
.burger-icon::after {
    content: '';
    display: block;
    width: 45px;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: transform 0.2s ease;
}

.burger-icon::before {
    transform-origin: top left;
}

.burger-icon::after {
    transform-origin: bottom left;
}

.menu-items {
    position: absolute;
    top: 50px;
    left: 0;
    width: 270px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.menu-items a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s ease;
    border-radius: 8px;
}

.menu-items a:hover {
    color: blue;
}

.menu-items a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s ease;
    border-radius: 8px;
}