body {
    margin: 0;
    width: 100%;
}

header {
    width: 100%;
    height: 48px;
    background-color: #fff;
}

ul {
  margin: 0;
}

.link {
    padding: 0 8px;
    display: inline;
    list-style-type: none;
}

a {
  text-decoration: none;
}



/* .box {
    border: 0 none;

    width: 1920px;
}

.box .rectangle {
    background-color: #ffffff;
    box-shadow: 0 0 1px #00000040;
    height: 84px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1920px;
} */
