header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  align-items: center;
}

.navbar {
  height: 100%;
  padding: 0 300px;
}

.navbar-logotype {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar-logotype-text {
  padding: 0 16px;
  text-decoration: none;
  color: #000;
}

.navbar-profile {
  display: inline-block;
  height: 100%;
}

.navbar-profile-text {
  padding: 0 16px;
  text-decoration: none;
  color: #000;
  display: inline-block;
}
