.edit-modal-group {
    width: 550px;
    height: auto;
    background-color: #fff;
    border-radius: 24px;
    position: relative;
    text-align: center;
    box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.1);
}

.edit-modal-content {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0 60px;
}

.edit-modal-title {
    padding: 60px 0 40px 0;
}

.edit-modal-subtitle {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: left;
}

.edit-modal-input {
    text-align: right;
    padding-bottom: 10px;
}

.edit-modal-control {
    padding: 30px 60px 60px 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.cancel-button {
    display: inline;
}