.search-box {
    width: 415px;
    height: 48px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 8px;
}

.search-box-text {
    width: 415px;
    height: inherit;
    display: block;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    float: left;
    background: #fff;
}

.search-box-text::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: relative;
    right: 16px;
    background-repeat: no-repeat;
    opacity: 1;
}

.search-bottom {
    width: 48px;
    height: inherit;
    position: absolute;
    top: 0;
    left: 366px;
    padding: 10px 0 0 0;
    background: none;
    color: white;
    font-size: 17px;
    border: none;
}

.search-box::after {
    content: '';
    clear: both;
    display: table;
}
