.search-box {
    width: 300px;
    height: 38px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #d2d2d7;
}

.search-box-text::placeholder {
    font-size: 14px;
    color: #999999;
}

.search-box-text:focus {
    outline: none;
    box-shadow: 0 0 8px 2px rgba(0, 113, 227, 0.2);
}

.search-box-text {
    width: 300px;
    height: inherit;
    padding: 8px 40px 8px 20px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background: #fff;
}

.search-box-text::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-repeat: no-repeat;
    opacity: 1;
}

.search-bottom {
    width: 48px;
    height: inherit;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: white;
    border: none;
    align-items: center;
    justify-content: space-around;
}

/* svg:hover path {
    transition-delay: 0.2s;
    fill: #000;
} */

.search-box::after {
    content: '';
    clear: both;
    display: table;
}

@media screen and (max-width: 439px) {
    .search-box-text {
        width: 100%;
        padding: 10px 20px;
    }
    .search-bottom {
        left: auto;
        right: 0;
    }
}
