.err {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.err-text {
    margin: 0;
    font-size: 314px;
    font-weight: 500;
    color: #0066cc;
}

.back-link {
    text-decoration-line: none;
    color: #0066cc;
}

.back-link:hover {
    text-decoration: underline;
    text-decoration-color: #0066cc;
}
